/*

File name: style.css
Description: Main stylesheet for the website layout and design.
Author:David Åkerlind
Created: 2024-11-23
Last updated: 2024-11-24
Version: 1.0

    1. Font import
    2. Variables
    3. Reset / Normalize

    4. Basic styling

    1.1 Header Component
    1.2 Burger Menu
    1.3 Navigation Bar
    1.4 Main Content
    1.5 Plant Card Section
    1.6 Footer Section - (used on all pages)
    1.7 Back to top Bar

    2.1. My Page Styling
    2.2. Header Component - My Pages
    2.3. Form - My Pages
    2.4. Planed Plants Grid - My pages
    2.5 Footer section - Mypages

    3.1 Media Queries
    3.2 Media Queries Standard
    3.3 Media Queries - My Pages



*/

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables Section */
:root {
    --font-poppins: "Poppins", sans-serif; /* Normal text */
    --font-lora: "Lora", serif; /* Rustic, calm feel for main h1 */
    --color-primary: #fff;
    --color-secondary: #ddd;
    --color-accent: #02594e;
    --color-light: #4b4b4b;
    --color-dark: #333;
    --color-darker: #202020;
    --color-dark-overlay: rgba(0, 0, 0, 0.5);
    --color-navbar: rgba(0, 0, 0, 0.3);
    --color-dropdown: rgba(0, 0, 0, 0.8);
    --color-accent-light: #d2e7e3;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --transition-speed: 0.3s;
}

/* Reset / Normalize */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3ch;
    overflow-x: hidden;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*  Basic styling */

.wrapper {
    width: 100vw;
}

h1,
h2,
h3,
h4 {
    font-family: "Lora", serif;
    font-weight: 200;
}

/*  CHevrons and other font awesome icons are smaller */
.fa-chevron-down {
    transform: scaleY(0.7);
}

.fa-arrow-right {
    margin-right: 1rem;
}

.button {
    padding: 0.8rem 1.5rem;
    z-index: 1;
    transition: all 0.3s ease; /* Add transition for background color and border */
    letter-spacing: 0.4ch;
    background-color: var(--color-primary);
}

.button:hover,
.button:focus {
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    border-radius: 2px;
}

/* ======================================= */
/* ====== Page Styling starts here======== */
/* ======================================= */

/* ==== Skip Link ==== */

.skip-link__button {
    opacity: 0;
    position: fixed;
    top: -9999px; /* Move it off-screen initially */
    left: 50%;
    transform: translateX(-50%);
    padding: 4rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    z-index: 99999999;
    pointer-events: auto;
    font-size: 2rem;
    transition: opacity 0.3s ease-out, top 0.3s ease-out;
}

.skip-link:focus-within .skip-link__button,
.skip-link__button:focus {
    opacity: 1;
    pointer-events: auto;
    top: 1rem;
    text-decoration: underline;
}

.skip-link__button:not(:focus) {
    opacity: 0;
    pointer-events: none;
    top: -9999px;
}

/* ===== NAVBAR fullscreen ==== */

.navbar {
    top: 0;
    background-color: var(--color-primary);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9998;
    padding: 0.5rem 2rem;
    font-weight: 400;
    color: var(--color-dark);
}

.navbar__logo {
    max-height: 4rem;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
}

.navbar__link {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    transition: border-top 0.5s ease;
    border-top: 2px solid transparent;
}

.navbar__link:hover,
.navbar__link--active {
    border-top: 2px solid var(--color-accent);
    color: var(--color-accent);
}
.navbar__link--active {
    font-weight: 600;
}

/* Styling both on the fullpage cabins dropdown and on teh mobil version here */

.navbar__item--has-dropdown:hover .navbar__dropdown,
.navbar__item--has-dropdown:focus-within .navbar__dropdown,
.menu__item--has-dropdown:hover .menu__dropdown,
.menu__item--has-dropdown:focus-within .menu__dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide up into view */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.navbar__dropdown,
.menu__dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-accent);
    min-width: 10rem;
    margin-top: 0.5rem;
    transform: translateY(-10px);
}

.navbar__dropdown-item,
.menu__dropdown-item {
    padding: 1rem;
    border-top: 1px solid #fff;
}

.navbar__link--dropdown,
.menu__link--dropdown {
    display: block;
    padding: 1rem;
    color: var(--color-primary);
}

.navbar__link--dropdown:hover,
.menu__link--dropdown:hover,
.menu__link--dropdown:focus {
    background-color: var(--color-dark);
    color: var(--color-primary);
}

/* Navbar burgermenu  */
.menu__navigation {
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--color-dark-overlay);
    background-image: url("./assets/photos/07-night.jpg");
    background-size: cover;
    color: var(--color-primary);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
    justify-content: center;
}

/* Add an overlay using ::after */
.menu__navigation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.menu__list {
    z-index: 9998;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.menu__logo {
    max-width: 10rem;
}

.menu__link {
    font-weight: 100;
}

.menu__link--active {
    color: var(--color-accent);
    font-weight: 400;
}

.menu__item:not(:first-child) .menu__link:hover {
    border-bottom: 4px solid var(--color-accent);
}

.menu__item--has-dropdown {
    position: relative;
}

.menu__dropdown {
    left: 10%;
    top: -100%;
}
/* ==== BUrger menu styling ====  */

.menu__checkbox {
    display: none;
}

.menu__button {
    padding: 2rem;
    width: 7rem;
    aspect-ratio: 1;
    position: fixed;
    top: 0rem;
    right: 0rem;
    display: flex;

    align-items: center;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

.menu__button-line {
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--color-dark);
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.829);
    position: relative;
    text-align: left;
    transition: all ease-in-out 0.5s;
}

.menu__button-line::before,
.menu__button-line::after {
    border-radius: 2px;
    background-color: var(--color-dark);
    width: 100%;
    height: 4px;
    box-shadow: 1px 2px 2px 1px rgba(255, 255, 255, 0.829);
    content: "";
    position: absolute;
    transition: all ease-in-out 0.5s;
}

.menu__button span::before {
    top: -16px;
}

.menu__button span::after {
    top: 16px;
}

.menu__checkbox:checked ~ .menu__button > span {
    transform: rotate(45deg);
    box-shadow: none;
    background-color: #b93857;
}

.menu__checkbox:checked ~ .menu__button > span::before {
    display: none;
}

.menu__checkbox:checked ~ .menu__button > span::after {
    transform: rotate(90deg);
    top: 0;
    box-shadow: none;
    background-color: #b93857;
}

/* ===== HERO section ====== */

.hero {
    background-image: url("./assets/photos/09-night.jpg");
    background-size: cover;
    background-position: center;
    padding: 8rem 0 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    color: var(--color-primary);
}

.hero__title {
    font-size: 4rem;
    font-weight: 200;
    margin: 1rem 0 2rem 0;
    letter-spacing: 0.6ch;
}

.hero__img,
.hero__logo-figure {
    max-width: 12rem;
}

.hero__sub-title {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 1ch;
    margin-bottom: 1rem;
}

/*  Button is styled in the basic styling also */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ====== Booking widget ====== */
/* Main Widget Container */
.main-content__booking-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin-top: -3.5rem;
    position: relative;
    padding-inline: 1.5rem;
    max-width: 70vw;
    width: 100%;
    color: var(--color-darker);
    border-radius: 2px;
    box-shadow: var(--shadow);
    padding: 1rem;
}

/* Form */
.booking-widget__form {
    box-shadow: var(--shadow);
    border-radius: 2px;
    padding: 1rem;
    background-color: var(--color-darker);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Sections within the widget */
.booking-widget__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

/* Text Fields and Dropdown */
.booking-widget__input {
    background-color: var(--color-primary);
    color: var(--color-darker);
    border: 2px solid #444;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: var(--font-primary);
    min-height: 46px;
}

.booking-widget__input:hover {
    cursor: pointer;
}

/* Labels */
.booking-widget__label {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-primary);
}

.booking-widget__label--hidden {
    display: none;
}

/* Search Container */
.booking-widget__search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 10rem;
}

/* Input Field with Location */
.booking-widget__input--location {
    width: 100%;
    padding-left: 2.8rem; /* Space for the search icon */
    color: var(--color-darker);
}

/* Search Button Inside Input */
.button--search-location {
    position: absolute;
    padding: 0.6rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--color-darker);
    font-size: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator:focus {
    border: 2px solid #444;
}

.button--search-cabin {
    background-color: var(--color-light);
    color: var(--color-primary);
    border-radius: 2px;
    border: 2px solid var(--color-primary);
}

.main-content__title {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 1rem;
    margin: 4rem 0 2rem 0;
}

/* ==== Main Content Grid Section ===== */

.main-content__grid-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    /* grid-template-rows: auto auto; */
    margin-inline: 4rem;
    gap: 2rem;
    max-width: 100%;
}

.grid-section__card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent-light);
    border-radius: 2px;
}

.grid-section__card--big {
    grid-column: span 3;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 25rem;
}

.card__bg-container {
    position: relative;
    background-image: url(./assets/photos/561d50a9-864a-4d58-877d-94978c74df3b.jpg);
    background-size: cover;
    background-position: center;
    min-height: 15rem;
    border-radius: 2px;
}

.card__bg-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark filter with 50% opacity */
    z-index: 1; /* Ensure the overlay is on top of the image */
}
.card__bg-container--swim {
    background-image: url(./assets/photos/DALL·E\ 2024-11-27\ 09.50.36\ -\ A\ serene\ and\ picturesque\ scene\ showing\ a\ woman\ climbing\ down\ a\ swim\ ladder\ into\ a\ clear\,\ calm\ lake\ surrounded\ by\ mountains.\ The\ shot\ is\ taken\ from\ abo.webp);
}

.card__bg-container--nature {
    background-image: url(./assets/photos/9cb4b153-4e87-4669-8b2c-1108443a5881.jpg);
}

.card__bg-container--right {
    background-image: url(./assets/photos/c242a625-865c-4e46-b2cd-75970cd71988.jpg);
    min-width: 25rem;
}
.card__bg-container--right::after {
    content: none;
}

.card__title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: var(--color-primary);
    letter-spacing: 0.3ch;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card__info--left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card__sub-title {
    font-size: 1rem;
    color: var(--color-darker);
    margin-top: 2rem;
    font-weight: 400;
}
.card__sub-title--big {
    font-size: 1.2rem;
    margin-left: 2rem;
    line-height: 3ch;
}

.card__description {
    font-size: 0.7rem;
    padding: 2rem;
    max-width: 40rem;
}
.button--bg-black {
    margin: 0 2rem 2rem 2rem;
    width: 50%;
    color: var(--color-primary);
    background-color: var(--color-darker);
    border-color: transparent;
}

/* ==== Main Content Small Info ===== */

.main-content__grid-section--more-gap {
    gap: 6rem;
}

.grid-section__info-box--down {
    margin: 2rem;
}

.info-box__number-title {
    font-size: 4rem;
}

.info-box__number-info {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-accent-light);
}

/* ==== Footer section ===== */

.footer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: normal;
    padding: 2rem 6rem;
    background-color: var(--color-accent-light);
    /* flex-wrap: wrap; */
    color: var(--color-darker);
    font-weight: 300;
}

.footer__title {
    letter-spacing: 0.1ch;
    padding: 2rem;
}

.footer__contact-link {
    text-decoration: underline;
    color: var(--color-accent);
}

.footer__contact-link:hover {
    color: var(--color-darker);
}

.footer__contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer__contact-list--row {
    flex-direction: row;
    margin-top: 1rem;
    min-width: 10rem;
}

.footer__social-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.footer__social-icon:hover {
    transform: scale(1.2);
}

.footer__award-img {
    max-width: 10rem;
}

.footer__newsletter {
    padding-inline: 1rem;

    background-color: var(--color-primary);
}

.footer__newsletter-form {
    padding: 2rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__newsletter-input {
    padding: 0.8rem;
    font-size: 1rem;
}

.button--wide {
    width: 100%;
    align-self: center;
    margin: 0;
}

.footer__newsletter-text {
    font-size: 0.6rem;
    letter-spacing: 0.4ch;
    line-height: 4ch;
}

.footer__follow {
    min-width: 30%;
    padding-bottom: 3rem;
}

.button--follow {
    border: 2px solid transparent;
}

.footer__follow-img {
    max-width: 15rem;
    margin-bottom: 1.5rem;
    transition: transform 1s ease-in-out;
}
.footer__follow-img:hover,
.footer__follow-img:focus {
    transform: scale(1.15);
}

/*
1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1
    1*/
@media screen and (max-width: 990px) {
    .wrapper {
        overflow-x: hidden;
    }

    .navbar {
        display: none;
    }

    .menu__button {
        display: flex;
    }

    .menu__checkbox:checked ~ .menu__navigation {
        transform: translateX(0);
    }

    .menu__navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: 0rem;
        background-color: #333333cb;
        gap: 4rem;
        z-index: 990;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .hero {
        padding-top: 2rem;
    }
    .hero__img,
    .hero__logo-figure {
        max-width: 5rem;
    }

    .hero__title {
        font-size: 2rem;
    }
    .hero__sub-title {
        font-size: 0.5rem;
    }

    .main-content__grid-section {
        grid-template-columns: repeat(
            1,
            minmax(300px, 1fr)
        ); /* 2 columns on medium screens */
    }

    .grid-section__card--big {
        grid-column: span 1;
    }

    .card__bg-container--right {
        min-width: 100%;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
